[user]
	name = tsaikd
	email = tsaikd@gmail.com
[alias]
	br = branch
	ci = commit
	co = checkout
	di = diff
	st = status
	ui = update-server-info
	sa = stash
[core]
	compression = 9
[color]
	branch = auto
	diff = auto
	status = auto
