[user]
	name = tsaikd
	email = tsaikd@gmail.com
[alias]
	br = branch
	ci = commit
	cia = commit --amend
	co = checkout
	di = diff
	sa = stash
	st = status
	ui = update-server-info
	llog = log --graph --decorate --all
	po = push origin
	pom = push origin master:refs/heads/master
	reba = rebase --abort
	rebc = rebase --continue
[core]
	compression = 9
[color]
	branch = auto
	diff = auto
	status = auto
